html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.img-wrapper {
  position: relative;
  overflow: hidden;
}

.img-wrapper > img {
  display: block;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
  margin: 10px;
}

.img-wrapper > .content {
  position: absolute;
  inset: 0;
  font-size: 25px;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.4);
  display: flex;
  align-items: center;
}

.img-wrapper > img,
.img-wrapper > .content {
  transition: 200ms ease-in-out;
}

.img-wrapper > .content.fade {
  opacity: 0;
}

.img-wrapper:hover > .content.fade {
  opacity: 1;
}

.img-wrapper:hover > img.blur {
  filter: blur(5px);
}

.img-wrapper:hover > img.gray {
  filter: grayscale(1);
}

.img-wrapper:hover > img.zoom {
  transform: scale(1.5);
}

.img-wrapper > .content.slide-left {
  transform: translateX(-100%);
}

.img-wrapper:hover > .content.slide-left {
  transform: translateX(0%);
}

.img-wrapper > .content.slide-right {
  transform: translateX(100%);
}

.img-wrapper:hover > .content.slide-right {
  transform: translateX(0%);
}
.img-wrapper > .content.slide-up {
  transform: translateY(-100%);
}

.img-wrapper:hover > .content.slide-up {
  transform: translateY(0%);
}
.img-wrapper > .content.slide-down {
  transform: translateY(100%);
}

.img-wrapper:hover > .content.slide-down {
  transform: translateY(0%);
}
